<div class=" m-5 md:flex-row flex flex-col w-100 h-100  p-5"  >
    <section class="card" style="margin-left:0%">
        <section class="bg-gray-400 w-full mb-4">
        </section>
            <img alt="IMAGEN 1 NO ENCONTRADA" src="https://raw.githubusercontent.com/gustavo-exe/ElementoDeProductoFord/Main/img_src/FordRangerLimited.png"/>
        <h3 class="TextCard"> Ranger Limit  <span>$200,000</span> </h3> 
    </section>

    <section class="card" style="margin-left:auto">
        <section class="bg-gray-400 w-full mb-4">
        </section>
            <img alt="IMAGEN 2 NO ENCONTRADA" src="https://raw.githubusercontent.com/gustavo-exe/ElementoDeProductoFord/Main/img_src/Ford%20Ranger%20Wildtrak.png"/>
        <h3 class="TextCard"> Ranger Wildtrak <span>$200,000</span> </h3> 
    </section>

    <section class="card" style="margin-left:auto">
        <section class="bg-gray-400 w-full mb-4">
        </section>
            <img alt="IMAGEN 3 NO ENCONTRADA" src="https://raw.githubusercontent.com/gustavo-exe/ElementoDeProductoFord/Main/img_src/FordRangerXL.png"/>
        <h3  class="TextCard"> Ranger XL <span>$200,000</span> </h3> 
    </section>
</div>