<div class="  md:flex-row flex flex-col p-5 m-5" >
    <section class="card border-red-400" style="margin-left:0%">
            <img alt="IMAGEN 1 NO ENCONTRADA" src="https://raw.githubusercontent.com/gustavo-exe/ElementoDeProductoFord/Main/img_src/FordRangerLimited.png"/>
        <h3 class="TextCard"> Ranger Limit  <span>$200,000</span> </h3> 
    </section>

    <section class="card" style="margin-left:auto">
            <img alt="IMAGEN 2 NO ENCONTRADA" src="https://raw.githubusercontent.com/gustavo-exe/ElementoDeProductoFord/Main/img_src/Ford%20Ranger%20Wildtrak.png"/>
        <h3 class="TextCard"> Ranger Wildtrak <span>$200,000</span> </h3> 
    </section>

    <section class="card" style="margin-left:auto">
        <img alt="IMAGEN 3 NO ENCONTRADA" src="https://raw.githubusercontent.com/gustavo-exe/ElementoDeProductoFord/Main/img_src/FordRangerXL.png"/>
        <h3  class="TextCard"> Ranger XL <span>$200,000</span> </h3> 
    </section>
</div>