<!--
    Use flex-1 para que abarque el espacio del contenedor si se agraga otro tiene
    que ser igual(flex-1) para que compartan el mismo espacio
-->
<div class="flex-1 flex  items-center m-2 bg-white-400">
    <img src="{{Enlace}}" alt="RAPTOR">
</div>