<!--
    Contenedor de la imagen e informacion
-->

<div  class=" m-5 md:flex-row flex flex-col w-100 h-100 bg-red-900 p-5" style="height: 90vh;" >
    <!--El style es para que se vea el contenedor-->
    {{#> containers/Imagen}}
        
    {{/containers/Imagen}}
    
    <!--Aqui tiene que ir el de informacion-->

</div>