<!--
    Contenedor de la imagen e informacion
-->

<div  class=" m-5 md:flex-col lg:flex-row flex flex-col  p-5" >
    <!--El style es para que se vea el contenedor-->
    {{#> containers/Imagen}}
        
    {{/containers/Imagen}}
    
    <!--Aqui tiene que ir el de informacion-->
    {{#> containers/Informacion}}

    {{/containers/Informacion}}

</div>