<!--
    Use flex-1 para que abarque el espacio del contenedor si se agraga otro tiene
    que ser igual(flex-1) para que compartan el mismo espacio
-->
<div class="flex-1 m-2 bg-blue-400" >
    
</div>