<!--
    Use flex-1 para que abarque el espacio del contenedor si se agraga otro tiene
    que ser igual(flex-1) para que compartan el mismo espacio
-->
<div class="flex-1 m-2 bg-white-400">
    <img src="https://github.com/gustavo-exe/ElementoDeProductoFord/blob/Main/img_src/FordRanger.jpg?raw=true" alt="RAPTOR">
</div>