<div class="flex-1 m-2 p-10 bg-gray-100">
    <!--Div para la descripcion-->
    <div>
    <!--Usando br y p para saltos de linea-->

        <h1 class="text-4xl" >{{Marca}}<span class="font-bold">{{Modelo}}</span></h1><br>
        <p class="md:text-3xl md:my-5" style="">
            {{Cuerpo}}
        </p>
        <p class="font-bold my-5 text-2xl">
            {{Precio}}
        </p> 

    </div>
    <!--Div para los botones de agregar y comprar golem.-->
    <div class=" items-center flex flex-row " >
        <!-- Boton comprar-->
        <button href="#" class=" w-90 border  rounded shadow-sm text-base font-medium text-white p-3 bg-blue-300  " >
            Comprar
        </button>
        <!-- Boton Agregar-->
        <button href="#" class=" font-bold mx-4 rounded-full h-12 w-12  bg-blue-300 text-white" >
            +
        </button>

    </div>

</div>