<div class="flex-1 m-2  bg-gray-200">
    <!--Div para la informacion del vehiculo klisben.-->
    <div class="bg-black m-8" style="height: 50vh;">

    </div>
    <!--Div para los botones de agregar y comprar golem.-->
    <div class="bg-pink-800 m-8" style="height: 20vh;">

    </div>

</div>