<div class="flex-1 m-2  bg-gray-200">
    <!--Div para la descripcion-->
    <div class="bg-white m-8" style="height: 50vh;">
    <!--Usando br y p para saltos de linea-->
    <h1>Ford Ranger Raptor</h1><br>
    <h2>No es una pick-up normal y corriente. Es una pick-up completamente</h2><p>excepcional.</p>
    <h3>Se ha creado para ofrecer al maximo renidimiento todoterreno. Un <p>
        vehiculo diseñado desde cero para dominar cualquier entorno es <p>inigualable</p>
    </h3>
    </p>

    </div>
    <!--Div para los botones de agregar y comprar golem.-->
    <div class="bg-pink-800 m-8" style="height: 20vh;"> <br> <br> <br> <br>
        <!-- Boton comprar-->
        <a href="#" class=" w-50 md:ml-5 mb-2 md:mb-5    px-0 py-1 border  rounded-md shadow-sm text-base font-medium text-gray bg-blue-300  " >
                Comprar
              </a>
              <!-- Boton Agregar-->
              <a href="#" class="h-10 px-3 m-8 text-lg text-Black-100 transition-colors duration-150 bg-blue-300 rounded-lg focus:shadow-outline   " >
               +
              </a>

    </div>

</div>