<section class="flex flex-col justify-between items-center md:w-2/6 p-8 order-1">
</section>
<section class="flex flex-col justify-between items-center p-8 md:w-2/6 order-3 md:order-2">
  Todos los Derechos Reservados 2021
</section>
<section class="flex flex-col justify-between items-center p-8 md:w-2/6 order-2 md:order-3">
  <span></span>
</section>
